*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.appBar{
    background: transparent !important;
    outline: none;
    box-shadow: none !important;
    border: none;
    color: black !important;
}