@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: all .3s ease;
    text-decoration: none;
}

:root {
    --dark-green: #112a34;
    --green-color: #004047;
    --white-color: #fff;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 90%;
}

section {
    padding: 0 8rem;
    width: 100%;
}

.label {
    font-size: 1.1rem;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

.home  nav {
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Align it to the top of the viewport */
    left: 0;
    width: 100%; /* Full width */
    height: 65px;
    background-color: #02636e;
    backdrop-filter: blur(1px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 1000; /* Ensure it stays above other content */
}

.home  .content {
    margin-top: 65px; /* Adjust the top margin to account for the fixed navbar */
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-65px);
}


.home  nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home  nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

.home  nav .logo .bar:hover {
    color: var(--green-color);
}

.home  nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
    font-size: 16.84px;
}

.home  nav .menu {
    display: flex;
    align-items: center;
}

.home  nav .menu .close {
    display: none;
}

.home  nav .menu ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0px;
}

.home  nav .menu ul li {
    position: relative;
}

.home  nav .menu ul li a {
    color: var(--white-color);
    font-weight: 400;
    text-decoration: none;
    font-size: 14.4px;
}

.home  nav .menu ul li a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.home  nav .menu ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #02636e;
    backdrop-filter: blur(1px);
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 10;
    list-style: none;
    width: 200px;
}

.home  nav .menu ul li:hover > ul.dropdown {
    display: block;
}

.home  nav .menu ul li ul.dropdown li {
    width: 100%;
}

.home  nav .menu ul li ul.dropdown li a {
    color: var(--white-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.home  nav .menu ul li ul.dropdown li ul.dropdown {
    left: 100%;
    top: 0;
}

.home  nav .signup-login {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.home  nav .signup-login a {
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
}

.home  nav .signup-login a:last-child {
    background: var(--green-color);
}

.home  nav .signup-login a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.home  nav .signup-login a:last-child:hover {
    color: var(--white-color);
    background: #02636e;
}

.home  .content {
    width: 100%;
    height: calc(100% - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-65px);
}

.home  .content h5 {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.home  .content h1 {
    font-size: 4rem;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.home  .content p {
    color: #eee;
    font-weight: 300;
    max-width: 40rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.home  .content .search {
    width: 100%;
    max-width: 38rem;
    height: 45px;
    background: var(--white-color);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: .3rem;
}

.home  .content .search i {
    color: rgba(0,0,0,.5);
    margin: 0 .6rem;
}

.home  .content .search input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 400;
}

.home  .content .search button {
    height: 100%;
    padding: 0 1rem;
    border-radius: inherit;
    background: var(--green-color);
    border: none;
    outline: none;
    color: var(--white-color);
    font-weight: 400;
    cursor: pointer;
}

.home  .content .search button:hover {
    background: #02636e;
}

.home  .content h5, .home  .content h1, .home  .content p, .home  .content .search {
    transform: translateY(100px);
    opacity: 0;
}

/* footer section starts here  */

footer {
    padding:  1rem;
    width: 100%;
}

footer .footer {
    background: var(--dark-green);
    border-radius: .7rem;
    padding: 6rem 7rem;
    padding-bottom: 1rem;
}

footer .footer .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--green-color);
    gap: 2rem;
}

footer .footer .container .detail {
    max-width: 32rem;
}

footer .footer .container .detail h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--white-color);
}

footer .footer .container .detail p {
    line-height: 1.6;
    color: rgb(255 255 255/80%);
    margin-bottom: 1.5rem;
}

footer .footer .container .detail h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--white-color);
}

footer .footer .container .detail a {
    color: rgb(255 255 255/80%);
    font-size: .9rem;
    border-bottom: 2px solid #00cee4;
    padding: 1px 0;
    display: inline-block;
    text-decoration: none;
}

footer .footer .container .detail .social {
    display: flex;
    gap: .8rem;
    margin-top: 1rem;
}

footer .footer .container .detail .social a {
    border: none;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
}

footer .footer .container h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    color: var(--white-color);
}

footer .footer .container li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer .container a {
    color: rgb(255 255 255/80%);
    text-decoration: none;
}

footer .footer .container a:hover {
    color: var(--white-color);
    text-decoration: none;
}

footer .footer .container span {
    color: #000;
    background: #00cee4;
    font-size: .9rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    font-weight: 500;
}

footer .footer .copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: .9rem;
    color: rgb(255 255 255/80%);
    text-align: center;
}

footer .footer .copyright a {
    color: rgb(255 255 255/80%);
    margin-left: 1rem;
    text-align: center;
    text-decoration: none;
}
/* footer section ends here  */
/* media section starts here  */
@media (max-width: 1020px) {
    html {
        font-size: 85%;
    }

    section {
        padding: 0 2rem;
    }

    footer .footer {
        padding: 2rem;
    }
}

@media (max-width: 910px) {

    .home  nav {
        padding: 0 1rem;
    }

    .home  nav .menu ul {
        gap: 2rem;
    }

    .destinations .container .container-box {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .footer .container {
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .heading {
        font-size: 2rem;
    }
    .home  nav .menu {
        display: none;
    }

    .home  nav .logo .bar {
        display: block;
    }

    .home  nav .menu.active {
        display: block;
        position: absolute;
        left: -1.5rem;
        top: -1.5rem;
        width: 100vw;
        height: 100vh;
        background: rgb(0 0 0/90%);
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }

    .home  nav .menu .close {
        display: block;
        position: absolute;
        left: 3rem;
        top: 3rem;
        cursor: pointer;
        color: var(--white-color);
        font-size: 2rem;
    }

    .home  nav .menu .close:hover {
        color: rgb(255 255 255/40%);
    }

    .home  nav .menu ul {
        flex-direction: column;
        font-size: 1.3rem;
        gap: 1rem;
    }

    .home  nav .menu ul:hover li a {
        color: rgb(255 255 255/40%);
    }

    .home  nav .menu ul li a:hover {
        color: var(--white-color);
    }

    .home  .content {
        padding: 2rem;
    }

    .travel .container {
        flex-direction: column;
        padding: 4rem 0;
        gap: 4rem;
    }

    .travel .container .box img {
        height: 6rem;
    }

    .destinations .container .container-box .content {
        font-size: .8rem;
    }

    .feedback .container p {
        font-size: .9rem;
    }
}

@media (max-width: 607px) {
    .home  .content h1 {
        font-size: 2rem;
    }

    .home  .content p {
        font-size: .8rem;
    }
}

@media (max-width: 457px) {
    .article .container .latest-article,
    .article .container .more-article {
        width: 100%;
        flex: 1 0 250px;
    }

    .article .container .more-article .box img {
        width: 100px;
        height: 85px;
    }

    .article .container .more-article .text h3 {
        font-size: 1.1rem;
    }
}
/* media section starts here  */